{% extends "layouts/main" %} {% block content %}
    <h1>What's the weather like in... </h1>
    
    {% include "components/error_display" %}
    {% include "components/weather_query" %}
    {% include "components/weather_view" %}
{% endblock content %}